*{
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

html{
  width:100%;
  body{
    width:100%;
    
  }
}


.row{
  width:100%;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
.page-section{
  height:980px;
  position:relative;
  .content,.container{
    width:1000px;
    margin:0 auto;
  }
}

.fl{
  float:left;
}
.absolute{
  position:absolute;
}
