#contact{
  background:#f3f3f5;
  .container{
    .map{
      position:absolute;
      top:0;
      left:0;
    }
    .header{
      text-align:center;
      padding-top:150px;
    }
    .cnt{
      padding-left:470px;
      padding-top:100px;
      position:relative;
      text-align:center;
      .code{
        margin-top:20px;
      }

    }
  }//.container
}
