@font-face {
  font-family: didot-bold;
  src: url(../fonts/Didot_Bold.ttf);
}
@font-face {
  font-family: didot;
  src: url(../fonts/Didot.ttf);
}
@font-face {
  font-family: didot-htf-m96-medium-ital;
  src: url(../fonts/didot-htf-m96-medium-ital.ttf);
}
@font-face {
  font-family: thex;
  src: url(../fonts/HelveticaNeueLTPro-ThEx.otf);
}

.ft-STHeiti{
  font-family:"STHeiti Light [STXihei]";
}
.ft-dodit{
  font-family:dodit;
}
.ft-thex{
  font-family:thex;
}
.ft-arial{
  font-family:Arial;
}
.ft-yahei{
  font-family:"Microsoft YaHei";
}
.fz-10{
  font-size:10px;
}
.fz-12{
  font-size:12px;
}
.fz-14{
  font-size:14px
}
.fz-16{
  font-size:16px;
}
.fz-20{
  font-size:20px;
}
.fz-40{
  font-size:40px;
}
.fz-42{
  font-size:42px;
}
