.row.page-section#contact
  .container
    .header
      img(src="img/8/8-2.png")
    .cnt
      img(src="img/8/8-3.png")
      br
      img.code(src="img/8/8-4.png")
    img.map(src="img/8/8-1.png")
