.row.page-section#landing
  .container
    .wrapper
      .progress
        .brand-active.progress-icon
        .brand-gray.progress-icon
      .zh.ft-yahei 唯美魅力 动人品牌
      .en.ft-arial.fz-10 THE BEAUTIFUL CHARMING BRAND
      .percent.ft-thex
        span.no.fz-40 99
        span.pec.fz-14 %
      img.down-arrow(src="img/1/1-2.png")
      br
      a.scroll-down(href="#new-products")
        img.down-img(src="img/1/1-3.png")

