.row.page-section.img-liquid-fill#new-products
  img(src="img/2/2-1.jpg")
  .pod-outer
    .pods
      - for (var i =0;i<5;i++)
        img(id="pod-#{i}" src="img/2/2-4.png")
    .nav
      a.nav-pre
        img(src="img/2/2-6.png")
      a.nav-next
        img(src="img/2/2-7.png")

  .cookie.absolute#c-1
  .cookie.absolute#c-2
  .cookie.absolute#c-3
  .cookie.absolute#c-4

