//script(src="js/xxx.js")

script(src='js/_landing.js')
script(src='js/_new_products.js')
script(src='js/_about_us.js')
script(src='js/_products.js')
script(src='js/_vip.js')
script(src='js/_top_nav.js')
script(src='js/_contact.js')
