.row.page-section#vip
  .cookies
    .cookies.absolute#c7-1
    .cookies.absolute#c7-2
    //.cookies.absolute#c7-3
  .container
    .header
      img(src="img/7/7-1.png")
    .outer
      .cnt
        .input-group
          label 用户名：
          input(name="user")
        .input-group
          label 密&nbsp&nbsp码：
          input(name="user")
        .btn
          input(type='button' value="登陆")
      .desc


