doctype html
html
  include _header
  body
    include _top_nav
    include _landing
    include _new_products
    include _about_us
    include _products
    include _vip
    include _contact
    include _foot

